html,
body {
  height: 100%;
  font-size: 100%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover {
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;
}
textarea {
  height: auto;
  min-height: 50px;
}
select {
  width: 100%;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.hide {
  display: none;
}
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: #fdfbf6;
  color: #54595b;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}
button,
.button,
a.btn {
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: #008cba;
  border-color: #007095;
  color: #fff;
  transition: background-color 300ms ease-out;
}
button:hover,
.button:hover,
a.btn:hover,
button:focus,
.button:focus,
a.btn:focus {
  background-color: #007095;
  color: #fff;
}
button.secondary,
.button.secondary,
a.btn.secondary {
  background-color: #e7e7e7;
  border-color: #b9b9b9;
  color: #333;
}
button.secondary:hover,
.button.secondary:hover,
a.btn.secondary:hover,
button.secondary:focus,
.button.secondary:focus,
a.btn.secondary:focus {
  background-color: #b9b9b9;
  color: #333;
}
button.success,
.button.success,
a.btn.success {
  background-color: #43ac6a;
  border-color: #368a55;
  color: #fff;
}
button.success:hover,
.button.success:hover,
a.btn.success:hover,
button.success:focus,
.button.success:focus,
a.btn.success:focus {
  background-color: #368a55;
  color: #fff;
}
button.alert,
.button.alert,
a.btn.alert {
  background-color: #f04124;
  border-color: #cf2a0e;
  color: #fff;
}
button.alert:hover,
.button.alert:hover,
a.btn.alert:hover,
button.alert:focus,
.button.alert:focus,
a.btn.alert:focus {
  background-color: #cf2a0e;
  color: #fff;
}
button.large,
.button.large,
a.btn.large {
  padding-top: 1.125rem;
  padding-right: 2.25rem;
  padding-bottom: 1.1875rem;
  padding-left: 2.25rem;
  font-size: 1.25rem;
}
button.small,
.button.small,
a.btn.small {
  padding-top: 0.875rem;
  padding-right: 1.75rem;
  padding-bottom: 0.9375rem;
  padding-left: 1.75rem;
  font-size: 0.8125rem;
}
button.tiny,
.button.tiny,
a.btn.tiny {
  padding-top: 0.625rem;
  padding-right: 1.25rem;
  padding-bottom: 0.6875rem;
  padding-left: 1.25rem;
  font-size: 0.6875rem;
}
button.expand,
.button.expand,
a.btn.expand {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}
button.left-align,
.button.left-align,
a.btn.left-align {
  text-align: left;
  text-indent: 0.75rem;
}
button.right-align,
.button.right-align,
a.btn.right-align {
  text-align: right;
  padding-right: 0.75rem;
}
button.radius,
.button.radius,
a.btn.radius {
  border-radius: 3px;
}
button.round,
.button.round,
a.btn.round {
  border-radius: 1000px;
}
button.disabled,
.button.disabled,
a.btn.disabled,
button[disabled],
.button[disabled],
a.btn[disabled] {
  opacity: 0.7;
  box-shadow: none;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="file"],
select,
textarea {
  -webkit-appearance: none;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #5ac7c2 !important;
  box-shadow: 0 none;
  color: rgba(0,0,0,0.45);
  display: block;
  font-size: 0.875rem;
  margin: 0 0 1.25rem 0 !important;
  padding: 0.625rem;
  height: 4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.15s linear;
  line-height: 18px !important;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="file"]:focus,
select:focus,
textarea:focus {
  background: #fafafa;
  border-color: #3bada7;
  outline: none;
}
input[type="text"][disabled],
input[type="password"][disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="month"][disabled],
input[type="week"][disabled],
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="file"][disabled],
select[disabled],
textarea[disabled],
fieldset[disabled] input[type="text"],
fieldset[disabled] input[type="password"],
fieldset[disabled] input[type="date"],
fieldset[disabled] input[type="datetime"],
fieldset[disabled] input[type="datetime-local"],
fieldset[disabled] input[type="month"],
fieldset[disabled] input[type="week"],
fieldset[disabled] input[type="email"],
fieldset[disabled] input[type="number"],
fieldset[disabled] input[type="search"],
fieldset[disabled] input[type="tel"],
fieldset[disabled] input[type="time"],
fieldset[disabled] input[type="url"],
fieldset[disabled] input[type="file"],
fieldset[disabled] select,
fieldset[disabled] textarea {
  background-color: #ddd;
}
input[type="text"].radius,
input[type="password"].radius,
input[type="date"].radius,
input[type="datetime"].radius,
input[type="datetime-local"].radius,
input[type="month"].radius,
input[type="week"].radius,
input[type="email"].radius,
input[type="number"].radius,
input[type="search"].radius,
input[type="tel"].radius,
input[type="time"].radius,
input[type="url"].radius,
input[type="file"].radius,
select.radius,
textarea.radius {
  border-radius: 3px;
}
input[type="submit"] {
  -webkit-appearance: none;
}
textarea[rows] {
  height: auto;
}
select {
  -webkit-appearance: none !important;
  background-color: #fafafa;
  background-image: url("data:image/svg+xmlbase64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: 97% center;
  border: 2px solid #5ac7c2;
  padding: 0.625rem;
  font-size: 0.875rem;
  border-radius: 0;
  height: 2.6875rem;
}
select.radius {
  border-radius: 3px;
}
select:hover {
  background-color: #f3f3f3;
  border-color: #3bada7;
}
input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 1.25rem 0;
}
input[type="checkbox"]+label,
input[type="radio"]+label {
  display: inline-block;
  margin-left: 0.625rem;
  margin-right: 1.25rem;
  margin-bottom: 0;
  vertical-align: baseline;
}
input[type="file"] {
  width: 100%;
}
fieldset {
  border: 1px solid #ddd;
  padding: 1.25rem;
  margin: 1.125rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Unkempt", cursive !important;
  font-weight: 700;
  font-style: normal;
  color: #f68b6c !important;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}
