extends ../layout
block content
    .container
        .text-center
            h1 Nombre
            h4
                span Clínica Veterinaria
        br
        .row
            .col-lg-8
                img(src='http://res.cloudinary.com/db79cecgq/image/upload/c_crop,h_720,w_1440,y_91/c_fill,h_800,w_1600/v1434685904/como-animales-orientan-campos-magneticos-tierra-1440-2.jpg', alt='Mihai Balea | Portfolio')
            .col-lg-4.contact-box
                h3 Contáctanos
                strong Contacto
                p veterinario
                strong Correo Electrónico
                p
                    a(href='mailto:youremail@yourdomain.com')     email@yourdomain.co
                strong Telefono
                p Telefono
                strong Dirección
                p Direccion
                Strong Síguenos en nuestras redes sociales
                br
                a(href='#',target='_blank',style='font-size:3em')
                    i.fa.fa-facebook-official