.remodal.radius-extra#createPetModal(data-remodal-id='createPetModal',data-remodal-options='closeOnConfirm: false')
  button.remodal-close.orange(data-remodal-action='close')

  h1 Publicar mascota para adopcion

  form#createPetForm(enctype='multipart/form-data', name='createPetForm',data-parsley-validate='')

    fieldset.form-group
      .col-sm-offset-2.col-sm-8.pt
        .col-sm-6.np.pr-input-sm
          label Nombre (Opcional)
          input.form-control(type='text', name='name')
        .col-sm-6.np
          label Fecha de nacimiento
          input.form-control(type='date', name='birthday',class="form-control",data-parsley-required="true",data-parsley-trigger="change")
    fieldset.form-group
      .col-xs-12
        label Descripcion
      .col-sm-offset-2.col-sm-8
        textarea.form-control(name='description',required)

    fieldset.form-group
      .col-sm-offset-2.col-sm-8
        .col-sm-6.np.pr-input-sm
          label Tipo de mascota
          p
            | Perro
            input(type='radio', name='type', value='Perro', required)
            | Gato
            input(type='radio', name='type', value='Gato')
        .col-sm-6.np
          label(for='gender') Género
          p
            | Macho
            input(type='radio', name='gender', value='male',required)
            | Hembra
            input(type='radio', name='gender', value='female')

    fieldset.form-group

      label Tamaño
      p
        | Pequeño
        input(type='radio', name='size', value='Pequeño', required)
        | Mediano
        input(type='radio', name='size', value='Mediano')
        | Grande
        input(type='radio', name='size', value='Grande')

    fieldset.form-group
      .col-xs-12
        label Foto
      .col-sm-offset-2.col-sm-8
        input.form-control(type='file', name='photo',required='true',accept='image/*')


    .col.sm-10.mb
      button#createPetBtn.radius.remodal-confirm.btn-celestito(type='submit') Registrar
      button.radius.remodal-cancel(data-remodal-action='cancel') Cancelar



